.contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
form{
    margin: 35px;
}

.input-field{
    width:400px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field{
    height: 150px;
    padding-top: 100px;
}

.btn {
    border-radius: 20px;
    color:#fff;
    padding: 10px;
    position: relative;
    margin-top: 10px;
    background-color: rgb(182, 124, 124);
}