
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

:root{
    --Roboto: 'Roboto Slab', serif;
    --Handlee: 'Handlee', cursive;
    --Playfair: 'Playfair Display', serif;
    --dark: #3c393d;
    --exDark: #3a2929;

}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Roboto);
}

body{
    line-height: 1.4;
    color: black;
}

img{
    width:100%;
    display: block;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
    color: rgb(255, 255, 255);
    font-family: var(--Roboto);
}

.title h2{ /* Top projects on home and work*/
    text-transform: uppercase;
    font-family: var(--Roboto);
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    padding: 0.8rem 0.8rem;
    letter-spacing: 3px;
    
}

/* header */
header{ /* top shadow*/
    min-height: 100vh;
    background: linear-gradient(rgba(236, 211, 211, 0.637), 
    rgba(152, 224, 224, 0.301)), url(images/hi.gif)
    center/cover no-repeat;
    display: flex;
    font-weight: bold;
    flex-direction: column;

}

/* start of nav bar */
.navbar-h{ /* nav bar containing makayla and home for index.html*/
    background: rgba(252, 227, 227, 0.6);
    padding: 1.2rem;
   
}

.navbar-brand-h{ /* Makaylas Portfolio*/
    color: rgb(17, 13, 13);
    font-size: 2.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-nav-h{
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    font-weight: bold;
}

.navbar-nav-h a{/* Home-Work-Resume*/
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-size: larger;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 0.8rem;
    
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.navbar-nav-h a:hover{
    opacity: 0.7;
    color: rgb(255, 255, 255);
}
/* end of nav bar*/

/* start of banner */

.banner{ /* no text */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: linear-gradient(rgba(236, 211, 211, 0.801), rgba(152, 224, 224, 0.63));;

}

.banner-title{ /*Makayla Anderson-Tucker*/
    font-size: 3.5rem;
    line-height: 1.2;
    color: black;
    font-family:var(--Playfair);
    font-weight: bolder;

}

.banner p{ /* Fullstack Software*/
    padding: 1rem 0 2rem 0;
    font-size: 1.9rem;
    text-transform: capitalize;
    font-family: var(--Playfair);
    color: black;
    font-weight: bolder;
    word-spacing: 2px;
}
/* end of banner*/


/* start of work html*/
.work{ /* work background*/
    background: linear-gradient(rgba(236, 211, 211, 0.801), 
    rgba(152, 224, 224, 0.63));
    padding: 4.5rem 0;
}

.work-title input:hover{ /* live demo and repo button  in work*/
    background: var(--exDark);
}
.work-title h2{ /* this is the caption under pic*/
    font-family: var(--Roboto);
    padding: 1rem 0;
    color: rgb(0, 0, 0);
    font-size: 1.65;
    font-weight: 500;
    font-weight: bold;
    text-align: center;
}
.work-title input {/* live demo and repo button in work*/
    font-family: var(--Roboto);
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--dark);
   /* display: inline;*/
    margin: 10px;
    float: left;
    background-color:#173446;
    color: rgb(200, 200, 241);
    font-weight: bold;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
/* end of work html*/

/* start of home html*/
.home{ 
    background: linear-gradient(rgba(236, 211, 211, 0.801), 
    rgba(152, 224, 224, 0.63));
    padding: 4.5rem 0;
}
.home-content{ /* spacing between Project titles and gifs*/
    margin: 2rem 0;
}
.home-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.home-img{
    position: relative;
    overflow: hidden;
}
.home-img-1{
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 300px;}

.home-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.home-img img{
    transition: all 0.5 ease;
}

.home-item:hover img{
    transform: scale(1.2);

}
.home-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight:700;
    font-size: 1.1rem;

}
.home-img img{
    transition: all 0.5 ease;
}

.home-item:hover img{
    transform: scale(1.2);

} 


.home-img span:last-of-type{ /*pic caption*/
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: rgb(255, 217, 217);
    
    font-size: 1.3rem;

}
.home-img-1 span:last-of-type{ /*pic caption*/
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: rgb(255, 217, 217);
    
    font-size: 1.3rem;

}

.home-title h2{ /* this is the caption under pic*/
    font-family: var(--Roboto);
    padding: 1rem 0;
    color: rgb(0, 0, 0);
    font-size: 1.65;
    font-weight: 500;
    font-weight: bold;
}
.home-title input:hover{/* read more button for index.html*/
    background: var(--exDark);
}
.home-title input{/* read more button for index.html*/
    font-family: var(--Roboto);
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background-color:#173446;
    color: #fff;
    font-weight: bold;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
/* end of home html*/


/* about */

.title{
    color: black;
    font-weight: bold;
    font-family: var(--Handlee);
}


/* footer */

footer{
    background: rgba(4, 34, 34, 0.788);
    color: #fff;
    font-size: large;
    text-align: center; 
    padding: 2rem 0;
    font-family: var(--Handlee);
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
    color: black;
}

.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}

.social-links p{
    margin-top: 1rem;
    display: block;
    font-size: 8rem;
    font-family: var(--Handlee);
    letter-spacing: 2px;
}

/* media queries */

@media screen and (min-width: 340){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto ;
        margin-right: auto;
    }
    .home-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem; 
    }
    .home-item{
        margin: 0;
    }
}

@media screen and (min-width:768px) {
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem; 
    }
}

@media screen and (min-width: 992px) {
    .home-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .project-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: top;
    }
    
}

@media screen and (min-width: 1200px){
    .home-content{
        grid-template-columns: repeat(3, 1fr);
    }
}