.contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
form{
    margin: 35px;
}

.input-field{
    width:400px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field{
    height: 150px;
    padding-top: 100px;
}

.btn {
    border-radius: 20px;
    color:#fff;
    padding: 10px;
    position: relative;
    margin-top: 10px;
    background-color: rgb(182, 124, 124);
}



@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root{
   
    --Patrick: 'Patrick Hand', cursive;
    --dark: #3c393d;
    --exDark: #2b2b2b;

}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Patrick);
}

body{
    line-height: 1.4;
    color: var(--dark);
}

img{
    width:100%;
    display: block;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
    color: rgb(255, 255, 255);
    font-family: var(--Patrick)
}

.title h2{ /* Top projects*/
    color: rgb(0, 0, 0);
    font-family: Bookman, serif;
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;
    
}

/* header */
header{ /* top shadow*/
    min-height: 100vh;
    background: linear-gradient(rgba(230, 103, 103, 0.4), 
    rgba(99, 29, 29, 0.753)), url(images/hi.gif)
    center/cover no-repeat;
    display: flex;
    font-weight: bold;
    flex-direction: column;

}

.navbar{ /* nav bar containing makayla and home*/
    background: rgba(104, 84, 84, 0.6);
    padding: 1.2rem;
}

.navbar-brand{ /* Makaylas Portfolio*/
    color: rgb(17, 13, 13);
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Bookman, serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-nav{
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    font-weight: bold;
}

.navbar-nav a{/* Home-Work-Resume*/
    text-transform: uppercase;
    font-family: Bookman, serif;
    letter-spacing: 1px;
    font-size: larger;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 0.8rem;
    font-weight:bolder;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
    

}

.navbar-nav a:hover{
    opacity: 0.7;
    color: rgb(255, 255, 255);
}

.banner{ /* no text */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title{ /*Makayla Anderson-Tucker*/
    font-size: 3rem;
    line-height: 1.2;
    color: black;
    font-family: Bookman, serif;

}

.banner p{ /* Fullstack Software*/
    padding: 1rem 0 2rem 0;
    font-size: 1.9rem;
    text-transform: capitalize;
    font-family: Bookman, serif;
    color: black;
    font-weight: bolder;
    word-spacing: 2px;
}




/* home */
.home{ 
    background: linear-gradient(rgba(112, 34, 34, 0.4), 
    rgba(94, 23, 23, 0.753));
    padding: 4.5rem 0;
}
.home-content{
    margin: 2rem 0;
}
.home-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.home-img{
    position: relative;
    overflow: hidden;
}

.home-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.home-img img{
    transition: all 0.5 ease;
}

.home-item:hover img{
    transform: scale(1.2);

}
.home-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight:700;
    font-size: 1.1rem;

}
.home-img img{
    transition: all 0.5 ease;
}

.home-item:hover img{
    transform: scale(1.2);

} 


.home-img span:last-of-type{ /*pic caption*/
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: rgb(255, 217, 217);
    font-weight:700;
    font-size: 1.1rem;

}


.home-title h2{ /* this is the caption under pic*/
    font-family: Bookman, serif;
    padding: 1rem 0;
    color: rgb(0, 0, 0);
    font-size: 1.65;
    font-weight: 500;
    font-weight: bold;
}
.home-text a{/* read more button*/
    font-family: Bookman, serif;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background:#8b3535;
    color: #fff;
    font-weight: bold;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}

.home-text a:hover{
    background: var(--exDark);
}



/* kimchi */
.kimchi {
    background: #f0bebe;
    padding: 4.5rem 0;
}
.kimchi p{
    color: black;
}

.kimchi-text{
    
    margin: 2.2rem 0;
    padding: 0 1rem;
}

.kimchi-title h2{
    font-family: var(--Patrick);
    color: black;
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: 500;
    text-decoration: underline;
    font-weight: bold;
}

.kimchi-text p{
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: x-large;
    font-weight:bold;
    color: rgb(3, 3, 3);
    font-family: var(--Patrick);
}


/* blog */

.blog{
    background: #f0bebe;
    padding: 4.5rem 0;
}
.blog-content{
    margin: 2rem 0;
}
.blog-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.blog-img{
    position: relative;
    overflow: hidden;

}

.blog-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.blog-img img{
    transition: all 0.5 ease;
}

.blog-item:hover img{
    transform: scale(1.2);

}
.blog-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight:700;
    font-size: 1.1rem;

}
.blog-img img{
    transition: all 0.5 ease;
}

.blog-item:hover img{
    transform: scale(1.2);

} 
.blog-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: #df5d5d;
    color: #fff;
    padding: 0.25rem 1rem;
}

.blog-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight:700;
    font-size: 1.1rem;

}


.blog-title h2{
    font-family: var(--Patrick);
    padding: 1rem 0;
    font-size: 1.65;
    font-weight: 500;
    font-weight: bold;
}


.blog-text h2{
    font-family: var(--Patrick);
    padding: 1rem 0;
    font-size: 1.65;
    font-weight: 500;
}

.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
    font-weight: bold;
}

.blog-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background:#df5d5d;
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;

}

.blog-text a:hover{
    background: var(--exDark);
}

/* about */

.about {
    background: #f0bebe;
    padding: 4.5rem 0;
}
.title{
    color: black;
    font-weight: bold;
    font-family: var(--Patrick);
}


.about-content .about-text p{
    font-size: 1.3rem;
    padding: 0.6rem 0;
    opacity: 0.8;
    color: black;
    font-family: var(--Patrick);
    font-weight: bold;
}
/* footer */

footer{
    background: var(--exDark);
    color: #fff;
    
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}

.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Patrick);
    letter-spacing: 2px;
}

/* media queries */

@media screen and (min-width: 340){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto ;
        margin-right: auto;
    }
    .dalgona-content img{
        width: 250px;
        height: 350px;
    }
    .dalgona-content{
        display:flexbox;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        align-items: center;
    }
}

@media screen and (min-width:768px) {
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .home-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .churro-content img{
        width: 350px;
        height: 350px;
    }
    .churro-content {
        display:flexbox;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        align-items: center;
    } 
}

@media screen and (min-width: 992px) {
    .blog-content{
        grid-template-columns: repeat(3, 1fr);

    }
    .home-content{
        grid-template-columns: repeat(3, 1fr);

    }
    
    .churro-content img{
        width: 350px;
        height: 350px;
        
    }
    .churro-content {
        display:flexbox;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        align-items: center;
    }
    
}

@media screen and (min-width: 1200px){
    .churro-content img{
        width: 350px;
        height: 350px;
        
    }
    .churro-content {
        display:flexbox;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        align-items: center;
    }
}